     /* Estilos CSS para dar formato a la página */
     body {
         font-family: Arial, sans-serif;
     }

     .movie-container {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }

     .movie-card {
         margin: 10px;
         padding: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
         width: 200px;
     }

     .movie-card img {
         width: 100%;
         border-radius: 5px;
     }