/* Estilos CSS para dar formato a la página */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.movie-card h2 {
    font-size: 16px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.movie-card h3{
    font-weight: bold;
    font-size: 14px;
    color: #050505;
    padding: 5px;
}
.movie-card p {
    font-size: 14px;
    margin: 10px;
    color: #666;
}

footer {
    background-color: #242424;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

footer a {
    color: #fff;
    padding-right: 15px;
    text-decoration: none !important;
}

@media (max-width: 600px) {
    footer {
        padding: 5px;
    }
}
