* {
    margin: 0%;
    padding: 0%;
}

.information h1 {
    text-align: center;
    padding-top: 5%;
}

.subtitle {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.parrafos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.parrafo3,
.parrafo4,
.parrafo5 {
    flex: 1;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.parrafos div {
    text-align: left;
}

#tabla-precios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
}


.precio-col {
    background-color: #f3f3f3;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 5px #ddd;
}

.precio-col-header {
    background-color: #333;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.precio-col:nth-child(2) .precio-col-header {
    background-color: #6d4b18
}

.precio-col-header h1 {
    color: #f3f3f3;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0
}

.precio-col-header p {
    text-align: center;
    color: #f3f3f3;
    font-size: 14px;
    margin-bottom: 0
}

.precio-col-features {
    padding: 0 20px 20px 20px
}

.precio-col-features p {
    padding: 20px 0;
    margin: 0;
    text-align: center !important;
    border-top: 1px solid #ddd
}

.precio-col-features p:first-child,
.precio-col-features p:last-child {
    border-top: none
}

footer {
    background-color: #242424;
    color: #fff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

footer a {
    color: #fff;
    padding-right: 15px;
    text-decoration: none !important;
}

@media screen and (min-width:768px) {
    .precio-col {
        width: 32%;
        float: left;
        margin-right: 2%
    }

    .precio-col:last-child {
        margin-right: 0
    }
}

@media screen and (max-width: 600px) {
    .parrafos {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
